<div class='block padded'>
  <p class='intro'>
    Your email address has been confirmed!
  </p>
  <p class='intro'>
    We will keep you informed of developments as they happen.
  </p>
  <p class="intro">
    You will also be invited into the private beta and advanced
    access programme we will be launching soon!
  </p>
  <p class="intro">
    If you have any questions, you can contact us at
    <a href="mailto:<%= @email_address%>"><%= @email_address%></a>
  </p>
</div>
