<%# replace the contents of this file with your signup form %>
<div id="mc_embed_signup">
  <form action="http://your-account.us4.list-manage2.com/subscribe/post?u=<your-key>&amp;id=<your-id>" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your Email Address" required>
    <input type="submit" value="Register" name="subscribe" id="mc-embedded-subscribe" class="button">
  </form>
</div>
